* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background: rgb(153,153,153);
background: linear-gradient(159deg, rgba(153,153,153,1) 0%, rgba(255,255,255,0.499124649859944) 30%);
}